[submodule "modules/history-substring-search/external"]
        path = modules/history-substring-search/external
        url = git@gitlab.com:misandrist-environment/zsh/modules/zsh-history-substring-search.git
[submodule "modules/syntax-highlighting/external"]
        path = modules/syntax-highlighting/external
        url = git@gitlab.com:misandrist-environment/zsh/modules/zsh-syntax-highlighting.git
[submodule "modules/completion/external"]
        path = modules/completion/external
        url = git@gitlab.com:misandrist-environment/zsh/modules/zsh-completions.git
[submodule "modules/prompt/external/powerline"]
        path = modules/prompt/external/powerline
        url = git@gitlab.com:misandrist-environment/zsh/modules/prezto_powerline.git
[submodule "modules/prompt/external/agnoster"]
        path = modules/prompt/external/agnoster
        url = git@gitlab.com:misandrist-environment/zsh/modules/agnoster-zsh-theme.git
[submodule "modules/prompt/functions/pure"]
        path = modules/prompt/external/pure
        url = git@gitlab.com:misandrist-environment/zsh/modules/pure.git
[submodule "modules/autosuggestions/external"]
        path = modules/autosuggestions/external
        url = git@gitlab.com:misandrist-environment/zsh/modules/zsh-autosuggestions.git
[submodule "modules/misandrist-prezto"]
        path = modules/misandrist-prezto
        url = git@gitlab.com:misandrist-environment/zsh/modules/misandrist-prezto.git
[submodule "modules/misandrist"]
	path = modules/misandrist
	url = git@gitlab.com:misandrist-environment/zsh/modules/misandrist.git
